#msm8226 eng defconfig

CONFIG_MSM_L2_ERP_PRINT_ACCESS_ERRORS=y
# CONFIG_MSM_L2_ERP_PORT_PANIC is not set
# CONFIG_MSM_L2_ERP_1BIT_PANIC is not set
CONFIG_MSM_CACHE_DUMP=y
CONFIG_MSM_CACHE_DUMP_ON_PANIC=y
CONFIG_MSM_IOMMU_PMON=y
CONFIG_LOCKUP_DETECTOR=y
CONFIG_UID_STAT=y
# CONFIG_DETECT_HUNG_TASK is not set
# CONFIG_SYSRQ_SCHED_DEBUG is not set
CONFIG_SCHEDSTATS=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y
CONFIG_DEBUG_LIST=y
CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_DEBUG_LL=y
CONFIG_EARLY_PRINTK=y
CONFIG_CPU_FREQ_SWITCH_PROFILER=y

CONFIG_SEC_GPIO_DVS=y
#CONFIG_SEC_FILE_LEAK_DEBUG=y
CONFIG_ES325_UART_WORKAROUND_ENG_ONLY=y
CONFIG_SYSFS=y
CONFIG_BLOCK=y
CONFIG_TRACING_SUPPORT=y
CONFIG_FTRACE=y
CONFIG_BLK_DEV_IO_TRACE=y

#EARJACK SYSFS
CONFIG_EARJACK_ADC_SYSFS=y

# RTB
CONFIG_MSM_RTB=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y

# ETM related config flags
CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_FUSE=y
CONFIG_CORESIGHT_TMC=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_REPLICATOR=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_AUDIO_ETM=y
CONFIG_CORESIGHT_MODEM_ETM=y
CONFIG_CORESIGHT_WCN_ETM=y
CONFIG_CORESIGHT_RPM_ETM=y
CONFIG_CORESIGHT_ETM_PCSAVE_DEFAULT_ENABLE=n
CONFIG_CORESIGHT_EVENT=m

# List/Tree corruption / Memory corruption related config flags
#CONFIG_SEC_DEBUG_LMK_MEMINFO=y
#CONFIG_SEC_DEBUG_ZERO_FD_CLOSE=y

#CONFIG_SEC_SSR_DEBUG_LEVEL_CHK=y
#CONFIG_SEC_DEBUG_DOUBLE_FREE is not set
CONFIG_PAGE_GUARD=y
CONFIG_MSM_CACHE_DUMP=y
CONFIG_HAVE_DMA_API_DEBUG=y
CONFIG_MSM_SMD_DEBUG=y
CONFIG_DEBUG_FS=y
CONFIG_SLUB_DEBUG=y
#CONFIG_SLUB_DEBUG_ON=y
CONFIG_COMPACTION=y

CONFIG_PAGE_POISON=y

CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

CONFIG_SAMSUNG_BATTERY_ENG_TEST=y

# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set
#LCIA test fail in factory mode
CONFIG_DUMP_UART_PACKET_DISABLE=y
