##eng


CONFIG_MSM_CACHE_DUMP=y
CONFIG_MSM_CACHE_DUMP_ON_PANIC=y

CONFIG_MSM_XPU_ERR_FATAL=y

# CONFIG_CFG80211_INTERNAL_REGDB is not set

CONFIG_MSM_IOMMU_PMON=y

CONFIG_CORESIGHT=y
CONFIG_CORESIGHT_FUSE=y
CONFIG_CORESIGHT_TMC=y
CONFIG_CORESIGHT_TPIU=y
CONFIG_CORESIGHT_FUNNEL=y
CONFIG_CORESIGHT_REPLICATOR=y
CONFIG_CORESIGHT_STM=y
CONFIG_CORESIGHT_HWEVENT=y
CONFIG_CORESIGHT_ETM=y
CONFIG_CORESIGHT_ETM_DEFAULT_ENABLE=y
CONFIG_CORESIGHT_ETM_PCSAVE_DEFAULT_ENABLE=y
CONFIG_CORESIGHT_EVENT=y

CONFIG_LOCKUP_DETECTOR=y
# CONFIG_DETECT_HUNG_TASK is not set

CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_STACK_USAGE=y

CONFIG_FAULT_INJECTION=y
CONFIG_FAIL_PAGE_ALLOC=y
CONFIG_FAULT_INJECTION_DEBUG_FS=y
CONFIG_FAULT_INJECTION_STACKTRACE_FILTER=y
# CONFIG_DEBUG_PAGEALLOC is not set
CONFIG_CPU_FREQ_SWITCH_PROFILER=y

CONFIG_PANIC_ON_DATA_CORRUPTION=y

CONFIG_DEBUG_LL=y
CONFIG_EARLY_PRINTK=y

#enable DVS for iora test
CONFIG_SEC_GPIO_DVS=y

# CONFIG_SEC_RESTRICT_ROOTING is not set
# CONFIG_SEC_RESTRICT_SETUID is not set
# CONFIG_SEC_RESTRICT_FORK is not set
# CONFIG_SEC_RESTRICT_ROOTING_LOG is not set

#enable block trace
CONFIG_BLOCK=y
CONFIG_BLK_DEV_IO_TRACE=y

CONFIG_SEC_FILE_LEAK_DEBUG=y
CONFIG_MSM_BUSPM_DEV=y

CONFIG_SAMSUNG_BATTERY_ENG_TEST=y

#enable systrace
CONFIG_ENABLE_DEFAULT_TRACERS=y
CONFIG_SEC_NET_FILTER=y

#enable memory device driver(/dev/mem)
CONFIG_DEVMEM=y